@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}





.flickity-viewport {
  height: 200px !important;
}
@media only screen and (min-width: 640px) {
  .flickity-viewport {
    height: 300px !important;
  }
}
@media only screen and (min-width: 768px) {
  .flickity-viewport {
    height: 450px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .flickity-viewport {
    height: 600px !important;
  }
}
.slide{
  height: 100%;
  width: 100%;
}

.flickity-viewport img {
  display: block;
  max-height: 100%;
}